/*==========================================================================
   LESS Variables
   ========================================================================== */

@background: rgba(40, 48, 52, 1);
@primary: rgba(231, 208, 53, 1);
@secondary:  rgba(239, 186, 22, 1);
@accent:  rgba(206, 72, 51, 1);

@off_black: rgba(15, 15, 15, 1);
@off_white: rgba(240, 240, 240, 1);
@trans_white: rgba(240, 240, 240, 0.75);

@black: rgba(0, 0, 0, 1);
@white: rgba(255, 255, 255, 1);



@padding_general: 25px;
@max_width:1000px;
@transition_time:.25s;

/*== 
	Helper Styles
*/

.bg_cover{
background-position:center !important;
background-size:cover !important;
background-repeat:no-repeat !important;
}

.bg_contain{
background-position:center !important;
background-size:contain !important;
background-repeat:no-repeat !important;
}

/*== 
	Site Styles
*/

body{
	background-color:@background;
	transition: background-color 0.5s;
	color:@off_white;
}

a{
	transition: color 0.5s;
	color:@primary;
}

a:hover, a:focus{
	transition: color 0.5s;
	color:@white;
}

header{
	background-color:#e0e0e0;
}